/Semana1/nbproject/private/
/Semana1/build/
/Tareas/Tarea1/RogerUTarea1/nbproject/private/
/Tareas/Tarea1/RogerUTarea1/build/
/ProyectoFinal/proyectoFinal/nbproject/private/
/ProyectoFinal/nbproject/private/
/ProyectoFinal/build/
/Semana2/nbproject/private/
/Semana2/build/
/Tareas/Tarea2/Taller2/nbproject/private/
/Tareas/Tarea2/Taller2/build/
/EnClase/Semana3/nbproject/private/
/EnClase/Semana3/build/
/EjerciciosSemana3/EjerciciosSemana3/nbproject/private/
/EjerciciosSemana3/EjerciciosSemana3/build/